services:
  {{ customer_containers }}-gateway:
    container_name: {{ customer_containers }}-gateway
    build: .
    volumes:
      - ../admin:/var/www/html
      - ../admin/captcha_images:/var/www/html/captcha_images
      - ../admin/uploads:/var/www/html/uploads
    ports:
      - "{{ customer_gateway_ports }}:80"
    networks:
      - traefik_reverse_proxy
    environment:
      INSTANCE_NAME: {{ customer_containers }}
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ customer_containers }}-gateway.rule=Host(`{{ customer_subdomain_gateway }}.{{ customer_domain }}`)"
      - "traefik.http.routers.{{ customer_containers }}-gateway.entrypoints=websecure"
      - "traefik.http.routers.{{ customer_containers }}-gateway.tls.certresolver=myresolver"
      - "traefik.http.services.{{ customer_containers }}-gateway.loadbalancer.server.port=80"

  {{ customer_containers }}-gateway-db:
    image: mariadb:10.6.20-focal
    container_name: {{ customer_containers }}-gateway-db
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./init/:/docker-entrypoint-initdb.d/
      - ./db:/var/lib/mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: {{ gateway_mysql_root_password }}
      MYSQL_DATABASE: {{ gateway_mysql_db_name }}
      MYSQL_USER: {{ gateway_mysql_user }}
      MYSQL_PASSWORD: {{ gateway_mysql_password }}
      INSTANCE_NAME: {{ customer_containers }}
    networks:
      - traefik_reverse_proxy

networks:
  traefik_reverse_proxy:
    external: true
