services:
  {{ customer_containers }}-portal:
    container_name: {{ customer_containers }}-portal
    build:
      context: .
    volumes:
      - ..:/var/www
    depends_on:
      - {{ customer_containers }}-portal-db
    ports:
      - {{ customer_portal_ports }}:80
    networks:
      - traefik_reverse_proxy
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ customer_containers }}-portal.rule=Host(`{{ customer_subdomain_backendportal }}.{{ customer_domain }}`)"
      - "traefik.http.routers.{{ customer_containers }}-portal.entrypoints=websecure"
      - "traefik.http.routers.{{ customer_containers }}-portal.tls.certresolver=myresolver"
      - "traefik.http.services.{{ customer_containers }}-portal.loadbalancer.server.port=80"

  {{ customer_containers }}-portal-db:
    image: mariadb:10.11
    container_name: {{ customer_containers }}-portal-db
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_ROOT_PASSWORD: {{ portal_mysql_root_password }}
      MYSQL_DATABASE: {{ portal_mysql_db_name }}
      MYSQL_USER: {{ portal_mysql_user }}
      MYSQL_PASSWORD: {{ portal_mysql_password }}
      INSTANCE_NAME: {{ customer_containers }}
    volumes:
      - ./init/:/docker-entrypoint-initdb.d/
      - ./db:/var/lib/mysql
    restart: unless-stopped
    networks:
      - traefik_reverse_proxy

networks:
  traefik_reverse_proxy:
    external: true
