---
- name: Deploy & Test Customer Project — Modular Version
  hosts: all
  become: true

  vars:
    backup_path: "{{ project_path }}/backup"
    info_path: "{{ project_path }}/info"
    log_path: "{{ project_path }}/log"
    tests_path: "{{ playbook_dir }}/tests"

  tasks:
    - include_tasks: tasks/00-create-network.yml
      tags: always   # همیشه اجرا بشه

    - include_tasks: tasks/01-down-state.yml
    - include_tasks: tasks/02-create-dirs.yml
    - include_tasks: tasks/03-define-projects.yml
    - include_tasks: tasks/04-ensure-project-dirs.yml
    - include_tasks: tasks/05-ensure-gateway-docker-init.yml
    - include_tasks: tasks/06-update-services.yml
    - include_tasks: tasks/07-config-files.yml
    - include_tasks: tasks/08-sql-and-uploads.yml
    - include_tasks: tasks/09-pre-deploy-backup.yml
    - include_tasks: tasks/10-pre-pull-images.yml
    - include_tasks: tasks/11-build-customer-images.yml
    - include_tasks: tasks/12-deploy-containers.yml
    - include_tasks: tasks/13-run-migrations.yml
    - include_tasks: tasks/14-write-info-files.yml
    - include_tasks: tasks/15-copy-backup-scripts.yml
    - include_tasks: tasks/16-setup-cron.yml
    - include_tasks: tasks/20-run-tests.yml
      tags: test