---
- name: Define projects list
  when: customer_state == "up"
  set_fact:
    projects:
      - name: gateway
        folder: gateway
        repo: "git@github.com:nasserman/calibri.git"
        branch_var: customer_gateway_git_branches
        tag_var: customer_gateway_git_tags
        update: "{{ customer_gateway_update }}"
        force: yes

      - name: portal
        folder: portal
        repo: "git@github.com:nasserman/calibri-portal.git"
        branch_var: customer_portal_git_branches
        tag_var: customer_portal_git_tags
        update: "{{ customer_portal_update }}"
        force: yes

      - name: portal-frontend
        folder: portal-frontend
        repo: "git@github.com:nasserman/calibri-portal-frontend.git"
        branch_var: customer_portal_frontend_git_branches
        tag_var: customer_portal_frontend_git_tags
        update: "{{ customer_portal_frontend_update }}"
        force: yes

      - name: lms
        folder: lms
        repo: "git@github.com:nasserman/calibri-lms"
        branch_var: customer_lms_git_branches
        tag_var: customer_lms_git_tags
        update: "{{ customer_lms_update }}"
        force: yes

      - name: file
        folder: file
        repo: "git@github.com:nasserman/calibri-file-storage"
        branch_var: customer_file_git_branches
        tag_var: customer_file_git_tags
        update: "{{ customer_file_update }}"
        force: yes