---
- name: Reset update flag
  set_fact:
    any_service_updated: false
  run_once: true

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
- name: Update selected services (git + compose)
  when: 
    - customer_state == "up"
    - item.update | default(false)
  include_tasks: update_service.yml
  vars:
    current_project: "{{ item }}"
  loop: "{{ projects }}"
  loop_control:
    loop_var: item
    label: "{{ item.name }}"

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
- name: Mark that at least one service was updated
  set_fact:
    any_service_updated: true
  when: git_result.changed