---
- name: Deploy customer-specific config files (copy module)
  ansible.builtin.copy:
    dest: "{{ item.dest }}"
    content: "{{ item.content }}"
    mode: "0644"
    force: yes
    backup: yes
  loop:
    - dest: "{{ project_path }}/{{ inventory_hostname }}/portal-frontend/baseUrl.js"
      content: |
        const baseUrl = 'https://{{ customer_subdomain_backendportal }}.{{ customer_domain }}';
        export default baseUrl;
      when: customer_portal_frontend_update | default(false)

    - dest: "{{ project_path }}/{{ inventory_hostname }}/portal/.env.local"
      content: |
        DATABASE_URL="mysql://{{ portal_mysql_user }}:{{ portal_mysql_password }}@{{ inventory_hostname }}-portal-db:3306/{{ portal_mysql_db_name }}?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
        BASE_URL="https://{{ customer_subdomain_gateway }}.{{ customer_domain }}"
      when: customer_portal_update | default(false)

    - dest: "{{ project_path }}/{{ inventory_hostname }}/gateway/admin/application/config/my_database.php"
      content: |
        <?php defined('BASEPATH') OR exit('No direct script access allowed');
        $active_group = 'default'; $query_builder = TRUE;
        $db['default'] = array(
          'dsn'       => '',
          'hostname'  => '{{ inventory_hostname }}-gateway-db',
          'username'  => '{{ gateway_mysql_user }}',
          'password'  => '{{ gateway_mysql_password }}',
          'database'  => '{{ gateway_mysql_db_name }}',
          'dbdriver'  => 'mysqli',
          'dbprefix'  => '',
          'pconnect'  => FALSE,
          'db_debug'  => (ENVIRONMENT !== 'production'),
          'cache_on'  => FALSE,
          'cachedir'  => '',
          'char_set'  => 'utf8',
          'dbcollat'  => 'utf8_general_ci',
          'swap_pre'  => '',
          'encrypt'   => FALSE,
          'compress'  => FALSE,
          'stricton'  => FALSE,
          'failover'  => array(),
          'save_queries' => TRUE
        );
      when: customer_gateway_update | default(false)

    - dest: "{{ project_path }}/{{ inventory_hostname }}/gateway/admin/application/config/my_config.php"
      content: |
        <?php defined('BASEPATH') OR exit('No direct script access allowed');
        $config['base_url'] = "https://{{ customer_subdomain_gateway }}.{{ customer_domain }}/";
      when: customer_gateway_update | default(false)

    - dest: "{{ project_path }}/{{ inventory_hostname }}/gateway/docker/app.conf"
      content: |
        <VirtualHost *:80>
            ServerName localhost
            DocumentRoot /var/www/html
            <Directory /var/www/html>
                AllowOverride All
                Require all granted
            </Directory>
            RewriteEngine On
            RewriteCond %{HTTP:Upgrade} websocket [NC]
            RewriteCond %{HTTP:Connection} upgrade [NC]
            RewriteRule ^/socket\.io/(.*) ws://{{ inventory_hostname }}-socketio-server:{{ customer_websocket_ports }}/socket.io/$1 [P,L]
            ProxyPass /socket.io http://{{ inventory_hostname }}-socketio-server:{{ customer_websocket_ports }}/socket.io
            ProxyPassReverse /socket.io http://{{ inventory_hostname }}-socketio-server:{{ customer_websocket_ports }}/socket.io
            ProxyPass /socketio-ping http://{{ inventory_hostname }}-socketio-server:{{ customer_websocket_ports }}/
            ProxyPassReverse /socketio-ping http://{{ inventory_hostname }}-socketio-server:{{ customer_websocket_ports }}/
        </VirtualHost>
      when: customer_gateway_update | default(false)

    - dest: "{{ project_path }}/{{ inventory_hostname }}/gateway/admin/application/config/my_config.php"
      content: |
        <?php
        defined('BASEPATH') OR exit('No direct script access allowed');
        $config['base_url'] = "http://localhost:{{ customer_gateway_ports }}";
        $config['websocket_container_name'] = '{{ inventory_hostname }}-socketio-server';
        $config['websocket_container_port'] = '{{ customer_websocket_ports }}';
        $config['microservice_registery'] = [
            "lms" => "'{{ inventory_hostname }}-lms",
            "file" => "'{{ inventory_hostname }}-lms",
        ];
      when: customer_gateway_update | default(false)

    - dest: "{{ project_path }}/{{ inventory_hostname }}/lms/.env.local"
      content: |
        DB_CONNECTION=mysql
        DB_HOST={{ inventory_hostname }}-lms-database
        DB_PORT=3306
        DB_DATABASE={{ lms_mysql_db_name }}
        DB_USERNAME={{ lms_mysql_user }}
        DB_PASSWORD={{ lms_mysql_password }}
      when: customer_lms_update | default(false)

    - dest: "{{ project_path }}/{{ inventory_hostname }}/file/.env.local"
      content: |
        DB_CONNECTION=mysql
        DB_HOST={{ inventory_hostname }}-file-storage-database
        DB_PORT=3306
        DB_DATABASE={{ file_mysql_db_name }}
        DB_USERNAME={{ file_mysql_user }}
        DB_PASSWORD={{ file_mysql_password }}
        CACHE_DRIVER=file
        FILESYSTEM_DISK=private
      when: customer_file_update | default(false)
  when:
    - customer_state == "up"
    - item.when | default(true) | bool
  loop_control:
    label: "{{ item.dest }}"

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
- name: Deploy nginx.conf and Dockerfile from templates
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode | default('0644') }}"
    force: yes
  loop:
    - src: template/nginx.conf.j2
      dest: "{{ project_path }}/{{ inventory_hostname }}/portal-frontend/docker/nginx.conf"
      mode: "0777"

    - src: template/Dockerfile.j2
      dest: "{{ project_path }}/{{ inventory_hostname }}/portal-frontend/docker/Dockerfile"
      mode: "0777"
  when:
    - customer_state == "up"
    - customer_portal_frontend_update | default(false)
  loop_control:
    label: "{{ item.dest }}"