---
- name: Pre-pull global images using native docker (ignore errors if tag not exist)
  ansible.builtin.command: docker pull {{ item.image }}
  loop:
    - { image: mariadb:10.11 }
    - { image: mariadb:10.6.20-focal }
    - { image: nginx:alpine }
    - { image: node:22 }
    - { image: php:8.1-apache-bookworm }
    - { image: php:8.2-apache-bookworm }
  loop_control:
    loop_var: item
    label: "{{ item.image }}"
  changed_when: false
  ignore_errors: true
  become: true
  tags: [deploy, force_deploy]