---
- name: Deploy / Restart all customer containers using docker_compose_v2
  community.docker.docker_compose_v2:
    project_name: "{{ customer_containers }}-{{ project_item.name }}"
    project_src: "{{ project_path }}/{{ inventory_hostname }}/{{ project_item.folder }}/docker"
    files:
      - docker-compose.yml
    state: present
    remove_orphans: true
    recreate: always
    remove_volumes: true
  become: true
  loop: "{{ projects }}"
  loop_control:
    loop_var: project_item
    label: "{{ project_item.name }}"
  register: docker_up
  retries: 3
  delay: 10
  until: docker_up is succeeded
  when: customer_state == "up"
  tags: [deploy, force_deploy]
