---
- name: Deploy / Restart all customer containers using native docker compose
  ansible.builtin.command: >
    docker compose
    -f compose.yml
    -f compose.override.yml
    up
    -d
    --remove-orphans
    --force-recreate
    --renew-anon-volumes
  args:
    chdir: "{{ project_path }}/{{ inventory_hostname }}/{{ project_item.folder }}/docker"
  register: docker_up
  changed_when: >-
    'Recreating' in docker_up.stdout or
    'Creating' in docker_up.stdout or
    'Starting' in docker_up.stdout
  become: true
  when: customer_state == "up"
  loop: "{{ projects }}"
  loop_control:
    loop_var: project_item
    label: "{{ project_item.name }}"
  tags: [deploy, force_deploy]