---
- name: Write volumes and databases info files
  when: customer_state == "up"
  ansible.builtin.copy:
    dest: "{{ item.0 }}"
    content: "{{ item.1 }}"
    mode: "0644"
    force: yes
  loop:
    - - "{{ info_path }}/volumes/{{ inventory_hostname }}.txt"
      - |
        # Gateway (CodeIgniter)
        gateway/admin/uploads
        gateway/admin/captcha_images
        gateway/admin

        # Portal + Portal-Frontend
        portal
        portal-frontend

        # LMS (Laravel)
        lms/storage/app/public
        lms/storage/app/private
        lms/storage/logs
        lms/.env

        # File Storage (Laravel)
        file/storage/app/public
        file/storage/app/private
        file/storage/logs
        file/.env

    - - "{{ info_path }}/databases/{{ inventory_hostname }}.txt"
      - |
        # Portal (Symfony)
        mysql,{{ portal_mysql_db_name }},{{ portal_mysql_user }},{{ portal_mysql_password }},{{ customer_containers }}-portal-db

        # Gateway (CodeIgniter)
        mysql,{{ gateway_mysql_db_name }},{{ gateway_mysql_user }},{{ gateway_mysql_password }},{{ customer_containers }}-gateway-db

        # LMS (Laravel)
        mysql,{{ lms_mysql_db_name | default('lms_db') }},{{ lms_mysql_user | default('lms_user') }},{{ lms_mysql_password | default('1234') }},{{ customer_containers }}-lms-db

        # File Storage (Laravel)
        mysql,{{ file_mysql_db_name | default('file_db') }},{{ file_mysql_user | default('file_user') }},{{ file_mysql_password | default('1234') }},{{ customer_containers }}-file-db