body {
    font-family: 'Noto Sans Arabic', sans-serif;
    background-color: #f4f6f8;
    overflow-x: hidden;
}

.card {
    border-radius: 8px;
}

.list-group-item {
    cursor: pointer;
}

.form-label {
    margin-bottom: 0;
    margin-left: 10px;
    width: 350px;
}

.tab-pane div{
    display: flex;
    align-items: center;
}

.form-control{
    text-align: left;
}

/* هدر */
header {
    background-color: #343a40;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.hamburger {
    font-size: 1.5rem;
    cursor: pointer;
}

.logo{
    width: 50px;
}

.sidebar_logo{
    width: 90px;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* مخفی */
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    border-left: 1px solid #dee2e6;
    padding: 1rem;
    overflow-y: auto;
    transition: left 0.3s;
    z-index: 1000;
}

#sidebar.open {
    right: 0;
}

#contentWrapper {
    transition: margin-right 0.3s;
}

#contentWrapper.shifted {
    margin-right: 250px;
}

#sidebar a {
    display: block;
    margin-bottom: 1rem;
    color: #343a40;
    text-decoration: none;
    font-weight: 500;
}

#sidebar a:hover {
    background-color: #e9ecef;
    border-radius: 5px;
    padding-left: 5px;
}

#mainContent {
    margin-right: 0;
    padding: 1rem;
    transition: margin-right 0.3s;
}

#mainContent.shifted {
    margin-right: 250px;
}

footer {
    background-color: #343a40;
    color: #fff;
    font-size: 0.7em;
}